# ***Using SQL in Python***

![Data FLow](sql_python_banner.png)

## **Querying SQLite3 from Python** 

#### Created By: Spencer Long

In this mission, we will learn how to query a SQLite database from the Python module. 

**Source Material:** https://app.dataquest.io/course/sql-fundamentals 

---
---
---

## Importing SQL into our enviroment and connecting to our database:

**Documentation:** 

* Importing:
* Connection: https://docs.python.org/3/library/sqlite3.html#sqlite3.connect
* Database we will be using: https://github.com/fivethirtyeight/data/tree/master/college-majors

In [1]:
# Imports sqlite3
import sqlite3 as sql

# The version number of the run-time SQLite library
sql.sqlite_version

'3.13.0'

In [2]:
# Must be a file within the current working directory

connection = sql.connect('jobs.db')

---
## Tuples:

Before we can execute a query, we need to express our SQL query as a string. While we use the Connection class to represent the database we're working with, we use the Cursor class to:

   * Run a query against the database
   * Parse the results from the database
   * Convert the results to native Python objects
   * Store the results within the Cursor instance as a local variable

After running a query and converting the results to a list of tuples, the Cursor instance stores the list as a local variable. Before diving into the syntax of querying the database, let's learn more about tuples.

A tuple is a core data structure that Python uses to represent a sequence of values, similar to a list. Unlike lists, tuples are immutable, which means we can't modify existing ones. Python represents each row in the results set as a tuple. Tuples are faster than lists, so they're helpful with larger databases and larger results sets.




To create an empty tuple, assign a pair of empty parentheses to a variable:

In [3]:
t = ()

In [4]:
type(t)

tuple

Python indexes Tuples from 0 to n-1, just like it does with lists. We access the values in a tuple using bracket notation:

In [5]:
t = ('Apple', 'Banana')

In [6]:
t[0]

'Apple'

In [7]:
t[1]

'Banana'

For more info on tuples see: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

Next, let's dive into how to use the Cursor instance to query the database.

---

## Using the Connection instance method Cursor():

**Documentation:** https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.cursor

We need to use the Connection instance method cursor() to return a Cursor instance corresponding to the database we want to query.

In [8]:
# Creates a cursor
cursor = connection.cursor()

**Example # 1**

In the following code block, we:

   1. Write a basic select query that will return all of the values from the recent_grads table, and store this query as a string named query
   1. Use the Cursor method execute() to run the query against our database
   1. Return the full results set and store it as results
   1. Print the first three tuples in the list results

In [9]:
#1. SQL Query as a string
query = "select * from recent_grads;"

#2. Execute the query, convert the results to tuples, and store as a local variable
cursor.execute(query)

#3. Fetch the full results set as a list of tuples
results = cursor.fetchall()

#4. Display the first three results
print(results[0:3])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0)]

**Example # 2:**

1. Write a query that returns all of the values in the Major column from the recent_grads table.
1. Store the full results set (a list of tuples) in majors.
1. Then, print the first three tuples in majors.

In [10]:
#1. 
query = "select Major from recent_grads;"

In [11]:
#2.
cursor.execute(query)
majors = cursor.fetchall()

In [12]:
#3. 
print(majors[0:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

---

## The Execute Method:

**Documentation:** https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.execute

So far, we've been running queries by creating a Cursor instance, and then calling the execute method on the instance. The SQLite library actually allows us to skip creating a Cursor altogether by using the execute method within the Connection object itself. SQLite will create a Cursor instance for us under the hood and run our query against the database, allowing us to skip a step. 

Here's what the code looks like if we apply it to **Example # 2** we just did above:

In [13]:
connection = sql.connect("jobs.db")
query = "select Major from recent_grads;"
print(connection.execute(query).fetchall()[0:3])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',)]

Notice that we didn't explicitly create a separate Cursor instance ourselves in this code example.

Now let's learn how to fetch a specific number of results after we run a query.

---

## Fetching a specific number of results after running a query:

**Documentation:** 

* fetchone(): https://docs.python.org/3/library/sqlite3.html#sqlite3.Cursor.fetchone
* fetchmany(): https://docs.python.org/3/library/sqlite3.html#sqlite3.Cursor.fetchmany


To make it easier to work with large results sets, the Cursor class allows us to control the number of results we want to retrieve at any given time. To return a single result (as a tuple), we use the Cursor method fetchone(). To return n results, we use the Cursor method fetchmany().

Each Cursor instance contains an internal counter that updates every time we retrieve results. When we call the fetchone() method, the Cursor instance will return a single result, and then increment its internal counter by 1. This means that if we call fetchone() again, the Cursor instance will actually return the second tuple in the results set (and increment by 1 again).

The fetchmany() method takes in an integer (n) and returns the corresponding results, starting from the current position. It then increments the Cursor instance's counter by n.

See the code below for a execution of eachmethod:

In [14]:
query = "select major from recent_grads"

cursor.execute(query).fetchone()

('PETROLEUM ENGINEERING',)

In [15]:
cursor.execute(query).fetchmany(5)

[('PETROLEUM ENGINEERING',),
 ('MINING AND MINERAL ENGINEERING',),
 ('METALLURGICAL ENGINEERING',),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',),
 ('CHEMICAL ENGINEERING',)]

**Example # 3**

1. Write and run a query that returns the Major and Major_category columns from recent_grads.
1. Fetch the first five results and store them as five_results.

In [16]:
#1.
query = "select major, major_category from recent_grads;"

#2.
five_results = cursor.execute(query).fetchmany(5)

five_results

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering')]

**The code below is how you would execute this example from scratch using all of the steps we have learned thus far:**

In [17]:
import sqlite3

connection = sqlite3.connect("jobs.db")

cursor = connection.cursor()

query = "select major, major_category from recent_grads;"

five_results = cursor.execute(query).fetchmany(5)

five_results

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering')]

---
## Closing your connection with a database: 

Because SQLite restricts access to the database file when we're connected to a database, we need to close the connection when we're done working with it. Closing the connection allows other processes to access the database, which is important when you're in a production environment and working with other team members.

To close a connection to a database, use the Connection instance method close(). When we're working with multiple databases and multiple Connection instances, we want to make sure we call the close() method on the correct instance. After closing the connection, attempting to query the database using any linked Cursor instances will return the following error:

    ProgrammingError: Cannot operate on a closed database.
    
Try closing the connection to the database using the Connection instance method close() on Example # 3 we used above:

In [18]:
import sqlite3

connection = sqlite3.connect("jobs.db")

cursor = connection.cursor()

query = "select major, major_category from recent_grads;"

five_results = cursor.execute(query).fetchmany(5)

# This line closes the database
connection.close()

---
## Bringing it home: 

Now let's practice the entire workflow we've learned so far, from start to finish.

**Example # 4**


1. Connect to the database jobs2.db , which contains the same data as jobs.db
1. Write and execute a query that returns all of the majors (Major) in reverse alphabetical order (Z to A)
1. Assign the full result set to reverse_alphabetical
1. Finally, close the connection to the database

In [19]:
import sqlite3

#1.

# Connect to database
connection = sqlite3.connect("jobs.db")

# Create a cursor
cursor = connection.cursor()

#2 & #3.

# Create query
query = "select major from recent_grads order by major desc;"

# Execute query and assign to variable
reverse_alphabetical = cursor.execute(query).fetchall()

#4.

# Close connection to database
connection.close()

# Your query is now stored in memory!
reverse_alphabetical[0:5]

[('ZOOLOGY',),
 ('VISUAL AND PERFORMING ARTS',),
 ('UNITED STATES HISTORY',),
 ('TREATMENT THERAPY PROFESSIONS',),
 ('TRANSPORTATION SCIENCES AND TECHNOLOGIES',)]

---
# Next Up:

Next up in this *Using SQL in Python* series is a guided project, where you'll practice analyzing data using SQLite.